.sider 
    .inner-menu
        ul 
            li 
                a(href= '${prefixAdmin}/admin/dashboard') Dashboard
            li
                a(href= '${prefixAdmin}/admin/products') Products 